<div class="add-book-dialog">
  <h2 mat-dialog-title>Add New Book</h2>
  <mat-dialog-content>
    <form [formGroup]="addBookForm">
      <mat-form-field class="form-field flex">
        <mat-label>Book Title</mat-label>
        <input matInput formControlName="title" placeholder="Book title" />
      </mat-form-field>
      <mat-form-field class="form-field flex">
        <mat-label>Book description</mat-label>
        <input
          matInput
          formControlName="description"
          placeholder="Book description"
        />
      </mat-form-field>
      <mat-form-field class="form-field flex">
        <mat-label>Book Authors</mat-label>
       
        <input
          matInput
          formControlName="authors"
          placeholder="Book authors, please seperate book author using ,"
        />
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flex items-center justify-end">
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="onSaveClick()" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</div>
